{{- $name := .Chart.Name }}
{{- range $index, $cluster := .Values.perforce.clusters }}
---  
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}-p4-cluster-secret-{{ $index }}
  namespace: {{ $name }}
data:
  {{- range $subindex, $credentials := $cluster.credentials}}
  Horde__PerforceClusters__{{ $index }}__Credentials__{{ $subindex }}__Username: {{ $credentials.username | b64enc | quote}}
  Horde__PerforceClusters__{{ $index }}__Credentials__{{ $subindex }}__Password: {{ $credentials.password | b64enc | quote}}
  {{- end }}
{{- end }}