{{- $name := .Chart.Name }}
{{- range $index, $cluster := .Values.perforce.clusters }}
---  
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $name }}-p4-cluster-configmap-{{ $index }}
  namespace: {{ $name }}
data:
  Horde__PerforceClusters__{{ $index }}__Name: {{ $cluster.name | quote}}
  {{- range $subindex, $server := $cluster.servers}}
  Horde__PerforceClusters__{{ $index }}__Servers__{{ $subindex }}__ServerAndPort: {{ $server.serverAndPort | quote}}
  Horde__PerforceClusters__{{ $index }}__Servers__{{ $subindex }}__IsProxy: {{ $server.isProxy | quote }}
  Horde__PerforceClusters__{{ $index }}__Servers__{{ $subindex }}__Condition: {{ $server.condition | quote}}
  Horde__PerforceClusters__{{ $index }}__Servers__{{ $subindex }}__MaxConformCount: {{ $server.maxConformCount | quote }}
  {{- end }}
  Horde__PerforceClusters__{{ $index }}__ServiceAccount: {{ $cluster.serviceAccount | quote}}
  Horde__PerforceClusters__{{ $index }}__CanImpersonate: {{ $cluster.canImpersonate | quote  }}
{{- end }}