{{- $name := .Chart.Name }}
{{- range $index, $cluster := .Values.perforce.clusters }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}-p4-cluster-secret-{{ $index }}
  namespace: {{ $name }}
data:
  Horde__PerforceClusters__{{ $index }}__Name: {{ $cluster.name | b64enc | quote}}
  {{- range $subindex, $server := $cluster.servers}}
  Horde__PerforceClusters__{{ $index }}__Servers__{{ $subindex }}__ServerAndPort: {{ $server.serverAndPort | b64enc | quote}}
  {{- end }}
  {{- range $subindex, $credentials := $cluster.credentials}}
  Horde__PerforceClusters__{{ $index }}__Credentials__{{ $subindex }}__Username: {{ $credentials.username | b64enc | quote}}
  Horde__PerforceClusters__{{ $index }}__Credentials__{{ $subindex }}__Password: {{ $credentials.password | b64enc | quote}}
  {{- end }}
  Horde__PerforceClusters__{{ $index }}__ServiceAccount: {{ $cluster.serviceAccount | b64enc | quote}}
  Horde__PerforceClusters__{{ $index }}__CanImpersonate: {{ $cluster.canImpersonate | b64enc | quote}}
{{- end }}